{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4">
			<h1 class="text-center mb-4 section-heading border-bottom pb-2">{{gallery.title}} Images</h1>
			<div class="row">
                {% for image in gallery_images %}
				<div class="col-md-4 mb-4">
					<div class="card">
						<a href="{{image.img.url}}" data-lightbox="gallery">
					  <img src="{{image.img.url}}" class="card-img-top" alt="{{image.alt_text}}">
						</a>
					</div>
				</div>
                {% endfor %}
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}